<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <header>
    <% if user_signed_in? %>
      <%= current_user.email %> |
      <%= link_to 'Categorias', user_backoffice_categories_path %> |
      <%= link_to 'Produtos', user_backoffice_products_path %>
      <%= button_to 'Sair', destroy_user_session_path, method: :delete %> 
    <% end %>
  </header>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% unless user_signed_in? %>
      <p><%= link_to 'Fazer login', new_user_session_path %></p>
      <p><%= link_to 'Fazer cadastro', new_user_registration_path %></p>
    <% end %>
  </body>
</html>
